body {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 114, 114);
}

.surface {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.strip {
    flex-grow: 1;
    flex-shrink: 1;
}
